body{
   background-color: black
   
}

.centered-texs {
	text-align: center;
}

.centered-containre {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 202vh;
	color: darkorchid
}

 .centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Для вертикального центрирования на всей высоте окна браузера */
}
